html	{
	/*height: 100%;*/
}

.heading	{
	background-color: grey;
	padding: 20px;
	font-size: 25px;

}
.sections	{
	height: 80%;
	background-color: #f0f5f5;
	display: flex;
	flex-direction: row;
	margin: 20px;
	
}
.article2	{

}

.bottom	{
	background-color: grey;
	padding: 20px;
	height: 15px;
}




