body	{
	background-color: #f2f2f2;
}

.heading {
	/*color: #ac3939;
	font-size: 30px;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center; */
	/*position: fixed;*/
     /*bottom: 0;*/
     /*right: 0;*/
     /*top: 0;*/
     /*left: 0;*/
     display: block;
}
#body #page
{
	color: grey;
}
#parent	#page{
	color: orange;
}

#page	{
	color: blue;
}
