@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville');

.myname	{
	font-family: Julius Sans One;
}


@font-face	{
	font-family: "verdemoderna";
	src: local("verdemoderna"), url("verdemoderna.woff") format("woff");
}

.checkfont	{
	font-family: "verdemoderna";
	font-size: 20px;
}

img	{
	display: block;
	/*float: right;*/
	vertical-align: bottom;

	background: #eaeaed;
  border: 1px solid #9799a7;
  margin: 8px 0 0 20px;
  padding: 4px;
}
}