body  {
  background-color: #e0e0e0;
}
table {
  background-color: white;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #cecfd5;

}
th,
td {
border-bottom: 1px solid #cecfd5;
  padding: 20px 25px;
  text-align: right;
}


td:nth-child(2) {
  padding: 5px 25px;
  text-align: left;
}
/*td:first-child {
  border-left: 1px solid #cecfd5;
  border-right: 4px solid #cecfd5;
}*/