html	{
	background-color: #eff5f5;
}
body	{
	
	background-color: gray;
	border:2px solid black;
	height: 100%;
	width: 50%;
}

#contact-form	{
	
	margin: 10px;
}

.uname	{
	padding: 10px;

}

.uemail	{
padding: 10px;
}

.ucomment	{
padding: 10px;
padding-left: 10px;
padding-right: 20px;
}

label	{
	padding: 10px;
	font-size: 25px;
}
.com {
	/*padding-left: 10px;*/
}

.submit	{
	
	height:70px;
	padding-left: 20px;
	/*text-align:center;*/

}

/*#butn	{
	height: 25em;
	width: 20em;
}*/
#butn	{
	padding-left: 20px;
	 width: 15em;
	   height: 25em;
	   /*font-size: 35px;*/
}
.mlist	{
	padding-left: 10px;
	margin: 0px;
}
#yess	{
	padding-left: 40px;

}